[Unit]
Description=Fan Control service

[Service]
ExecStart=/usr/bin/smartfan2.sh
Type=simple
Restart=on-failure

[Install]
WantedBy=multi-user.target
